extends layout
 
block content

  h1= title
 
  form(id='knifeForm', action="/resource/knife", method="POST")
    div.form-group
      label.knifeAttr(for='knife_name') knife Name
      input#knife_name(type='text', name='knife_name')
    div.form-group
      label.knifeAttr(for='size') knife size
      input#size(type='text', name='size')
    div.form-group
      label.knifeAttr(for='price') knife price
      input#price(type='number', name='price')
    input(type="submit")
 
  script.
    document.forms['knifeForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user tknife form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or wknifeever the server sends
      }).then((body) => {
        alert("Save succeeded");
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error );
      });
    });